
@{
    ViewData["Title"] = " Xoa Db";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p class="alert alert-danger" > 
        Co muon xoa
    </p>
</div>

<div>
    <form  method="post">
        <button type="submit" class="btn btn-danger" >Xoa Db</button>
    </form>
</div>
<hr>
<a asp-action="Index" >Thong Tin Db</a>